@using Param.Shared.Web.Models
@model Application
<h2>Application Summary</h2>
<label>First Name: @Model.FirstName</label>
<label>Middle Name: @Model.MiddleName</label>
<label>Last Name: @Model.LastName</label>
<label>RequestedMoney: @Model.RequestedMoney</label>
<label>Address line 1:@Model.AddressLine1</label>
<label>Address line 2:@Model.AddressLine2</label>
<label>City: @Model.City</label>
<label>State: @Model.State</label>
<label>Zip: @Model.Zip</label>

